@import url("LatoFont/latolatinfonts.css"); /*Imports our font*/
html {
	/*Firefox CSS scrollbar*/
	scroll-behavior: smooth;
	cursor: default;
	scrollbar-width: thin;
	scrollbar-color:#ddd #222;
}
/*Compressed line of WebKit Scrollbar so WebKit/Chromium browsers have the same scrollbar*/
::-webkit-scrollbar{
	width:10px;
	height:10px;
}
::-webkit-scrollbar-track{
	background:#222;
}
::-webkit-scrollbar-thumb{
	background:#ddd;
	border-radius:4px;
}
::-webkit-scrollbar-button{
	width:0;
	height:0;
}
::selection {
	color: #eee;
	background-color: #003399;
}

.center {
	margin: auto;
	width: 98%;
	text-align: center;
	padding: 5px;
}
.nobootstrap {
	color: inherit;
}
body {
	margin: 1%;
	font-family: LatoLatinWeb, Lato, sans-serif;
	color: #000;
	background: #f7f7f7;
}

h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.3em;
}
h3 {
	font-size: 1.8em;
	font-style: normal;
}
p,code,ol {
	font-size: 1.2em;
}
a,a:link,a:visited {
	transition: color .25s, border-bottom-color .25s;
	color: #1aa3ff;
	text-decoration: none;
	border-bottom: solid .1em transparent;
	font-style: italic;
}
a:hover {
	transition: color .25s, border-bottom-color .25s;
	color: #007acc;
	text-decoration: none;
	border-bottom-color: #007acc;
}
a:active {
	transition: color .25s, border-bottom-color .25s;
	color: #1a53ff;
	text-decoration: none;
	border-bottom-color: #1a53ff;
}
img {
	max-width: 100%;
	height: auto;
	padding: 3px;
	border: none; /* Removes the border on IE 10 and older */
}
hr {
	border: 2px solid #000;
	border-radius: 4px;
}
q {
	font-style: italic;
}

/*Darkmode*/
@media only screen and (prefers-color-scheme: dark) {
	body {
		background-color: #111;
		color: #efefef;
	}
	::selection {
		background-color: #09f;
		color: #333;
	}
	hr {
		border: 2px solid #efefef;
		border-radius: 4px;
	}
	a,a:link,a:visited {
		color: #4db8ff;
	}
	a:hover {
		color: #09f;
	}
	a:active {
		color: #36f;
	}
	.jumbotron {
		background-color: #363636;
	}
}
/*Reduced Motion*/
@media only screen and (prefers-reduced-motion: reduce) {
	a,a:link,a:visited {
		transition: none;
	}
	a:hover {
		transition: none;
	}
	a:active {
		transition: none;
	}
}
