html {
	scroll-behavior: smooth;
	cursor: default;
	scrollbar-width: thin;scrollbar-color:#ddd #222; /*Firefox CSS scrollbar*/
}
::-webkit-scrollbar{width:10px;height:10px}::-webkit-scrollbar-track{background:#222}::-webkit-scrollbar-thumb{background:#ddd;border-radius:4px}::-webkit-scrollbar-button{width:0;height:0} /*Compressed line of WebKit Scrollbar so WebKit/Chromium browsers have the same scrollbar*/
::selection {
	color: #eee;
	background-color: #003399;
}
body {
	font-family: sans-serif;
	color: #000;
	background: #efefef; /*Night time friendly gray/white hybrid!*/
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.3em;
}
h3 {
	font-size: 1.8em;
	font-style: normal;
}
p {
	font-size: 1.2em;
}
.center {
	width: 100%;
	height: 100%;
	text-align: center;
}
a,a:link,a:visited {
	transition: color .25s, border-bottom-color .25s;
	color: #33adff;
	text-decoration: none;
	border-bottom: solid .1em transparent;
	font-style: italic;
}
a:hover {
	transition: color .25s, border-bottom-color .25s;
	color: #008ae6;
	text-decoration: none;
	border-bottom-color: #008ae6;
}
a:active {
	transition: color .25s, border-bottom-color .25s;
	color: #009;
	text-decoration: none;
	border-bottom-color: #009;
}
img {
	max-width: 100%;
	height: auto;
}
