@import url("media/fonts/lato/latolatinfonts.css"); /*Sans-serif font*/
@import url("media/fonts/cascadiacode/cascadiacode.css"); /*Mono font*/

:root {
  	color-scheme: light;
  	--scrollbar-thumb-color: #ddd;
  	--scrollbar-track-color: #222;
  	--selection-color: #eee;
  	--selection-background-color: #003399;
  	--text-color: #000;
  	--bg-color: #f7f7f7;
  	--codeblock-color: #e60073;
  	--link-color: #06c;
  	--link-hover-color: #0059b3;
  	--link-active-color: #036;
  	--button-color: #343a40;
  	--button-hover-color: #343a40;
  	--button-active-color: #22262b;
}

html {
	scroll-behavior: smooth;
	cursor: default;
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-track-color);
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb-color);
	border-radius: 4px;
}

::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}
::selection {
	color: var(--selection-color);
	background-color: var(--selection-background-color);
}

.center {
	margin: auto;
	width: 98%;
	text-align: center;
	padding: 5px;
}
body {
	margin: 2px;
	font-family: "LatoLatinWeb", sans-serif;
	color: var(--text-color);
	background: var(--bg-color);
}

h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.3em;
}
h3 {
	font-size: 1.8em;
	font-style: normal;
}
p,ol,ul,pre {
	font-size: 1.2em;
}
pre,code {
	font-family: "Cascadia Mono", monospace;
	font-size: initial;
}
pre {
	overflow-x: auto;
}
.code {
	color: var(--codeblock-color);
}
.a,.a:link,.a:visited {
	transition: color .25s, border-bottom-color .25s;
	color: var(--link-color);
	text-decoration: none;
	border-bottom: solid .1em transparent;
	font-style: italic;
}
.a:hover {
	transition: color .25s, border-bottom-color .25s;
	color: var(--link-hover-color);
	text-decoration: none;
	border-bottom-color: var(--link-hover-color);
}
.a:active {
	transition: color .25s, border-bottom-color .25s;
	color: var(--link-active-color);
	text-decoration: none;
	border-bottom-color: var(--link-active-color);
}
img {
	max-width: 100%;
	height: auto;
	overflow: hidden;
	padding:1px;
	border: none; /*Removes the border on IE 10 and older*/
}
hr {
	border: 2px solid var(--text-color);
	border-radius: 4px;
}
q {
	font-style: italic;
}
.homebutton,.homebutton:link,.homebutton:visited /*Because using Bootstrap is pointless*/ {
	padding:4px;
	border:2px solid var(--button-color);
	border-radius:4px;
	color:#FFF;
	background-color: var(--button-color);
	text-decoration:none;
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
	transition: background-color .2s, box-shadow .2s;
}
.homebutton:hover {
	background-color: var(--button-hover-color);
	box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);
	transition: background-color .2s, box-shadow .2s;
}
.homebutton:active {
	background-color: var(--button-active-color);
	box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.75);
	transition: background-color .2s, box-shadow .2s;
	outline: none;
}

/*Darkmode*/
@media only screen and (prefers-color-scheme: dark) {
	:root {
	  	color-scheme: dark;
	  	--selection-color: #333;
	  	--selection-background-color: #09f;
	  	--text-color: #efefef;
	  	--bg-color: #111;
	  	--codeblock-color: #ff1a8c;
	  	--link-color: #66b3ff;
	  	--link-hover-color: #4da6ff;
	  	--link-active-color: #0080ff;
	}
	.homebutton,.homebutton:link,.homebutton:visited {
	box-shadow: 2px 2px 10px 0 rgba(60,60,60,0.5);
	}
	.homebutton:hover {
		box-shadow: 5px 5px 10px 0 rgba(60,60,60,0.5);
	}
	.homebutton:active {
		box-shadow: 5px 5px 10px 0 rgba(60,60,60,0.75);
	}
}
/*Reduced Motion*/
@media only screen and (prefers-reduced-motion: reduce) {
	a,a:link,a:visited,a:hover,a:active {
		transition: none;
	}
	button,button:hover,button:active {
		transition: none;
	}
}
