@import url("LatoFont/latolatinfonts.css"); /*Imports our font*/
html {
	scroll-behavior: smooth;
	cursor: default;
	scrollbar-width: thin;
	scrollbar-color:#ddd #222;
}
/*Compressed line of WebKit Scrollbar so WebKit/Chromium browsers have the same scrollbar*/
::-webkit-scrollbar{width:10px;height:10px;}::-webkit-scrollbar-track{background:#222;}::-webkit-scrollbar-thumb{background:#ddd;border-radius:4px;}::-webkit-scrollbar-button{width:0;height:0;}::selection {color: #eee;background-color: #003399;}

.center {
	margin: auto;
	width: 98%;
	text-align: center;
	padding: 5px;
}
body {
	margin: 1%;
	font-family: "LatoLatinWeb", sans-serif;
	color: #000;
	background: #f7f7f7;
}

h1 {
	font-size: 3em;
}
h2 {
	font-size: 2.3em;
}
h3 {
	font-size: 1.8em;
	font-style: normal;
}
p,ol,pre {
	font-size: 1.2em;
}
.code {
	color: #FF3399;
}
.a,.a:link,.a:visited {
	transition: color .25s, border-bottom-color .25s;
	color: #1aa3ff;
	text-decoration: none;
	border-bottom: solid .1em transparent;
	font-style: italic;
}
.a:hover {
	transition: color .25s, border-bottom-color .25s;
	color: #007acc;
	text-decoration: none;
	border-bottom-color: #007acc;
}
.a:active {
	transition: color .25s, border-bottom-color .25s;
	color: #1a53ff;
	text-decoration: none;
	border-bottom-color: #1a53ff;
}
img {
	max-width: 100%;
	height: auto;
	padding: 3px;
	border: none; /*Removes the border on IE 10 and older*/
}
hr {
	border: 2px solid #000;
	border-radius: 4px;
}
q {
	font-style: italic;
}
button /*Because using Bootstrap is pointless*/ {
	padding:4px;
	border:2px solid #343a40;
	border-radius:4px;
	font-size:1em;
	color:#FFF;
	background-color: #343a40;
	box-shadow: 2px 2px 10px 0 rgba(0,0,0,0.5);
	transition: background-color .2s, box-shadow .2s, transform .2s;
}
button:hover {
	background-color: #2d3339;
	box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.5);
	transform: translate(1px,1px);
	transition: background-color .2s, box-shadow .2s, transform .2s;
}
button:active {
	background-color: #22262b;
	transform: translate(2px,2px);
	box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.75);
	transition: background-color .2s, box-shadow .2s, transform .2s;
}

/*Darkmode*/
@media only screen and (prefers-color-scheme: dark) {
	body {
		background-color: #111;
		color: #efefef;
	}
	::selection {
		background-color: #09f;
		color: #333;
	}
	hr {
		border: 2px solid #efefef;
		border-radius: 4px;
	}
	a,a:link,a:visited {
		color: #4db8ff;
	}
	a:hover {
		color: #09f;
	}
	a:active {
		color: #36f;
	}
	button {
	box-shadow: 2px 2px 10px 0 rgba(60,60,60,0.5);
	}
	button:hover {
		box-shadow: 5px 5px 10px 0 rgba(60,60,60,0.5);
	}
	button:active {
		box-shadow: 5px 5px 10px 0 rgba(60,60,60,0.75);
	}
}
/*Reduced Motion*/
@media only screen and (prefers-reduced-motion: reduce) {
	a,a:link,a:visited,a:hover,a:active {
		transition: none;
	}
	button,button:hover,button:active {
		transition: none;
	}
}
